* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
}

html {
  scroll-behavior: smooth;
}

.content-wrapper {
  background: url(../assets/worldbackground.jpg);
  background-repeat: no-repeat;
  display: flex;
  row-gap: calc(275px - 100px);
  flex-direction: column;
  background-position: center;
  background-size: cover;
  height: 750px;
}

.content-wrapper .header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 52px;
}

.content-wrapper .header img.logo {
  width: 240px;
  height: 32px;
}

.content-wrapper .header .navbar {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.content-wrapper .header .nav-link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.content-wrapper .navbar .drop-down {
  position: relative;
  display: inline-block;
}

.content-wrapper .navbar .drop-down a:hover {
  background-color: #ddd;
}

.content-wrapper .navbar .dropBtn {
  color: white;
  font-size: 13px;
  line-height: 15.5px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.content-wrapper .navbar .dropBtn img {
  padding-bottom: 2px;
}

.content-wrapper .navbar .drop-down-content {
  display: none;
  position: absolute;
  width: 123px;
  overflow: auto;
  background: #f8fafb;
  border-radius: 4px;
  z-index: 1;
  transform: translate3d(-49px, 8px, 0px) !important;
}

.content-wrapper .navbar .show {
  display: block;
}

.content-wrapper .navbar .drop-down-content a {
  color: rgba(6, 46, 93, 1);
  margin-right: 0;
  padding: 9px 10px;
  font-size: 13px;
  line-height: 15.5px;
  text-decoration: none;
  display: block;
}

.content-wrapper .content {
  position: relative;
  color: #ffffff;
  align-items: center;
  width: 569.39px;
  margin-left: 7%;
}

.content-wrapper .content::before {
  position: absolute;
  border-left: 7px solid #462fc5;
  content: "";
  width: 7px;
  height: 131px;
  top: 0;
}

.content-wrapper .content h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  margin-left: 5%;
  margin-bottom: 32px;
}

.content-wrapper .content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 5%;
}

.validation-wrapper {
  padding: 78px 7%;
  background-color: #f8fafb;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
}

.validation-wrapper .description {
  z-index: 99;
}

.validation-wrapper .description h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: #062e5d;
  margin-bottom: 13px;
  border-left: 7px solid #462fc5;
  padding-left: 25px;
}

.validation-wrapper .description p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  width: 1203px;
  color: #062e5d;
  margin-bottom: 91px;
  padding-left: 34px;
}

.validation-wrapper .data-validation {
  margin-left: 37px;
  width: 50%;
  z-index: 99;
}

.validation-wrapper .data-validation h1 {
  font-size: 24px;
  width: 489px;
  line-height: 29px;
  font-weight: 700;
  color: #005ccd;
  margin-bottom: 14px;
}

.validation-wrapper .data-validation p {
  font-size: 18px;
  width: 784.73px;
  line-height: 26px;
  font-weight: 400;
  color: #062e5d;
}

.validation-wrapper .data-validation .iso-text {
  margin-top: 27px;
}

.validation-wrapper .data-validation .input-group {
  display: flex;
  align-items: center;
  width: 680px;
  position: relative;
}

.validation-wrapper .data-validation .input-group img {
  position: absolute;
  bottom: 18px;
  right: 29px;
  font-size: 10px;
  display: none;
  width: 14px;
  height: 14px;
}

.validation-wrapper .data-validation .input-group img:hover {
  border-radius: 1px;
  background-color: rgb(233, 230, 230);
  border-radius: 21px;
  cursor: pointer;
}

.validation-wrapper .data-validation .country-input {
  width: 772px;
  height: 50px;
  padding-top: 5px;
  padding-left: 20px;
  margin-top: 6px;
  font-size: 18px;
  font-family: "Rubik";
  line-height: 36px;
  background: hsl(0deg 0% 100%);
  box-shadow: 0px 0px 4px rgb(2 79 255 / 30%);
  border-radius: 4px;
  border: none;
  background-image: url(../assets/ic-arrow-tick.png);
  background-position: calc(100% - 8px) calc(0.9em + 5px), 100% 0;
  background-size: 10px;
  background-repeat: no-repeat;
}

.validation-wrapper .country-input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.validation-wrapper .data-validation .country-selector {
  width: 362px;
  height: 370px;
  overflow-y: overlay;
  position: absolute;
  top: 57px;
  background: rgb(39, 39, 39);
  z-index: 999;
  border-radius: 5px;
  padding: 20px 12px;
  display: none;
}

.validation-wrapper .data-validation .country-selector::-webkit-scrollbar {
  display: none;
}

.validation-wrapper .data-validation .country-selector li {
  list-style-type: none;
  margin-top: 15px;
  font-family: "Rubik";
  font-size: 17px;
  color: #ffffff;
}

.validation-wrapper .data-validation .country-selector li:hover {
  border: 0;
  background-color: #acacac;
  cursor: pointer;
}

.validation-wrapper .data-validation .validation-input {
  width: 772px;
  height: 50px;
  padding-top: 5px;
  padding-left: 20px;
  margin-top: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(2, 79, 255, 0.3);
  border-radius: 4px;
  border: none;
}

.validation-wrapper .data-validation select.validation-input {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 18px;
  font-family: "Rubik";
  line-height: 36px;
  background-image: url(../assets/ic-arrow-tick.png);
  background-position: calc(100% - 8px) calc(0.9em + 5px), 100% 0;
  background-size: 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.validation-wrapper .data-validation .submit-btn-with-flag-img {
  display: flex;
  margin-top: 12px;
}

.validation-wrapper .data-validation .png-btn,
.validation-wrapper .data-validation .svg-btn {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Rubik";
  line-height: 36px;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 50px;
  color: #033260;
  border: 1px solid #dfeeff;
  background-color: #ffffff;
}

.validation-wrapper .data-validation .png-btn {
  background-color: #dfeeff;
}

.validation-wrapper .data-validation .resize {
  display: flex;
  align-items: center;
  width: 646px;
}

.validation-wrapper .resize .resize-check {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  width: 115px;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
  color: #37414b;
  margin-top: 17px;
  margin-left: 20px;
}

.validation-wrapper .data-validation .resize-width,
.validation-wrapper .data-validation .resize-height {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 13px;
  font-family: "Work Sans";
  line-height: 15.25px;
  width: 142.89px;
  color: #768699;
}

.validation-wrapper .data-validation .resize-height {
  margin-left: 0;
}

.validation-wrapper .resize .width-input {
  height: 25px;
  width: 53%;
  font-size: 13px;
  line-height: 15.25px;
  margin-left: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(2, 79, 255, 0.3);
  border-radius: 2px;
  border: none;
  padding-left: 5px;
}

.validation-wrapper .data-validation .preview-text {
  margin-top: 40px;
  font-weight: 500;
}

.validation-wrapper .data-validation .validation-out-with-img {
  display: flex;
  width: 773px;
}

.validation-wrapper .validation-out-with-img .validation-output {
  margin-top: 30px;
  height: 50px;
  width: 772px;
  display: flex;
  font-size: 18px;
  line-height: 36px;
  border: none;
  color: #062e5d;
  font-weight: 500;
  font-family: "Rubik";
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(2, 79, 255, 0.3);
  border-radius: 4px;
  padding-left: 20px;
}

.validation-wrapper .data-validation .validation-output p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 36px;
  color: #062e5d;
  font-weight: 500;
  font-family: "Rubik";
  width: 593px;
}

.validation-wrapper .data-validation .validation-out-with-img img {
  padding-left: 20px;
  margin-top: 30px;
}

.validation-wrapper .data-validation .validation-output code {
  color: #062e5d !important;
  font-size: 18px;
  line-height: 36px;
  font-family: "Rubik";
}

.validation-wrapper .validation-output .green-output-color {
  color: #82be18;
}

.validation-wrapper .validation-output .blue-output-color {
  color: #005ccd;
}

.validation-wrapper .data-validation .validation-output-hint {
  display: flex;
  margin-top: 22px;
  height: 25px;
  width: 690px;
  position: relative;
}

.validation-wrapper .validation-output-hint .service-mark {
  position: absolute;
  border-left: 1px solid hsl(212deg 88% 19%);
  width: 1px;
  height: 9px;
  bottom: 29px;
  left: 43px;
}

.validation-wrapper .validation-output-hint .iso-mark {
  position: absolute;
  border-left: 1px solid hsl(212deg 88% 19%);
  width: 1px;
  height: 9px;
  bottom: 29px;
  left: 439px;
}

.validation-wrapper .validation-output-hint .size-mark {
  position: absolute;
  border-left: 1px solid hsl(212deg 88% 19%);
  width: 1px;
  height: 9px;
  bottom: 29px;
  left: 522px;
}

.validation-wrapper .data-validation .validation-output-hint p {
  font-size: 14px;
  line-height: 28px;
  color: rgba(118, 134, 153, 1);
  text-align: center;
}

.validation-wrapper .data-validation .validation-output-hint p:nth-child(1) {
  border: 0;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(2, 79, 255, 0.25);
  border-radius: 2px;
  width: 92.7px;
}

.validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
  border: 0;
  margin-left: 205px;
  width: 168.2px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(2, 79, 255, 0.25);
  border-radius: 2px;
}

.validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
  border: 0;
  width: 41.64px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(2, 79, 255, 0.25);
  border-radius: 2px;
  margin-left: 35px;
}

.validation-wrapper .data-validation .prettyprint {
  background: #ffffff;
  box-shadow: 2px 4px 15px rgba(2, 79, 255, 0.25);
  border-radius: 4px;
  margin-top: 20px;
  color: #062e5d;
  width: 775px;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 71px;
  height: 254px;
}

.validation-wrapper .data-validation pre.prettyprint {
  line-height: 36px;
  font-family: "Rubik";
  font-size: 18px;
}

.prettyprint span {
  font-weight: 500;
}

.validation-wrapper .data-validation .img-output span {
  color: #005ccd;
  font-weight: 500;
}

.validation-wrapper .data-validation:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin-left: 583px;
  margin-bottom: 116px;
}

.validation-wrapper .data-validation:nth-child(3) h1 {
  color: rgba(0, 179, 219, 1);
}

.validation-wrapper .data-validation:nth-child(3) .svg-btn {
  background-color: #fff;
}

.validation-wrapper .data-validation:nth-child(3) .png-btn {
  background-color: #dfeeff;
}

.validation-wrapper .data-validation:nth-child(4) h1 {
  color: #733de7;
}

.validation-wrapper .outer-circle-country {
  width: 294px;
  height: 537px;
  top: 375px;
  right: 0;
  background-color: hsl(212deg 100% 94%);
  position: absolute;
  border-radius: 282px 0 0 296px;
  border: 1px solid hsl(212deg 100% 94%);
  z-index: 1;
}

.validation-wrapper .inner-circle-country {
  width: 134px;
  height: 253px;
  top: 519px;
  right: 0;
  background-color: hsl(0deg 0% 100%);
  position: absolute;
  border-radius: 145px 0 0 150px;
  border: 1px solid hsl(212deg 100% 94%);
  z-index: 1;
}

.validation-wrapper .outer-circle-lang {
  border: 1px solid #daf7fd;
  background-color: #daf7fd;
  position: absolute;
  width: 330px;
  height: 330px;
  left: -184px;
  top: 1181px;
  border-radius: 165px;
  z-index: 1;
}

.validation-wrapper .inner-circle-lang {
  border: 1px solid #daf7fd;
  background-color: #ffffff;
  position: absolute;
  width: 176px;
  height: 176px;
  left: -107px;
  top: 1258px;
  border-radius: 89px;
  z-index: 1;
}

.validation-wrapper .circle-lang {
  border: 1px solid hsl(190deg 90% 92%);
  background-color: hsl(190deg 90% 92%);
  position: absolute;
  width: 108px;
  height: 108px;
  left: 104px;
  top: 1489px;
  border-radius: 89px;
  z-index: 1;
}

.validation-wrapper .outer-circle-prefix {
  position: absolute;
  border: 1px solid hsl(247deg 100% 96%);
  width: 209px;
  height: 383px;
  top: 1953px;
  right: 0;
  border-radius: 201px 0 0 201px;
  background-color: hsl(247deg 100% 96%);
  z-index: 1;
}

.validation-wrapper .inner-circle-prefix {
  position: absolute;
  border: 1px solid hsl(247deg 100% 96%);
  width: 75px;
  height: 133px;
  top: 2083px;
  right: 0;
  border-radius: 201px 0 0 201px;
  background-color: hsl(0deg 0% 100%);
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #002046;
  color: #fff;
  padding: 56px 74px;
  font-family: "Roboto";
  height: 142px;
}

.footer .logo img {
  width: 240px;
  height: 32px;
}

.footer .footer-links-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}

.footer .footer-links-wrapper .links-wrapper {
  margin-bottom: 31px;
}

.footer .links-wrapper .footer-link {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer .links-wrapper .footer-link:last-child {
  margin-right: 0;
}

.footer .footer-links-wrapper .footer-copywrite {
  text-align: right;
}

.autocomplete {
  z-index: 999;
  background-color: hsl(211deg 100% 97%);
  max-height: 300px !important;
  overflow-y: auto;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  font-size: 18px;
  line-height: 36px;
  font-family: "Rubik";
  color: rgba(3, 50, 96, 1);
}

.autocomplete div {
  padding: 10px 0 10px 10px;
}

.autocomplete div:hover {
  border: 0 solid rgb(141, 140, 140);
  background-color: rgb(150, 150, 150);
  border-radius: 2px;
}

.selected {
  border: 0 solid rgb(141, 140, 140);
  background-color: rgb(150, 150, 150);
}

@media (max-width: 1550px) {
  .validation-wrapper .data-validation:nth-child(3) {
    margin-left: 433px;
  }
}

@media (max-width: 1340px) {
  .validation-wrapper .data-validation:nth-child(3) {
    margin-left: 353px;
  }

  .validation-wrapper .description p {
    width: 824px;
  }
}

@media (max-width: 1250px) {
  .validation-wrapper .data-validation:nth-child(3) {
    margin-left: 37px;
  }
}

@media (max-width: 950px) {
  .content-wrapper .header {
    padding: 34px 1%;
  }

  .content-wrapper .content {
    margin-left: 1%;
  }

  .validation-wrapper {
    padding: 78px 1%;
  }

  .footer {
    padding: 56px 1%;
  }
}

@media (max-width: 880px) {
  .validation-wrapper .description p {
    width: 619px;
  }

  .validation-wrapper .data-validation p {
    width: 540px;
  }

  .validation-wrapper .data-validation .input-group {
    width: 580px;
  }

  .validation-wrapper .data-validation .input-group img {
    position: absolute;
    bottom: 18px;
    right: 97px;
  }

  .validation-wrapper .data-validation .country-input {
    width: 580px;
  }

  .validation-wrapper .data-validation .resize {
    width: 595px;
  }

  .validation-wrapper .resize .resize-check {
    margin-left: 9px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 482.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 579px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 158px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 24px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    left: 413px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    left: 461px;
  }

  .validation-wrapper .data-validation .validation-out-with-img {
    width: 577px;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .prettyprint {
    width: 576px;
  }

  .validation-wrapper .data-validation .validation-input {
    width: 581px;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin-left: 43px;
  }
}

@media (max-width: 656px) {
  .validation-wrapper .description {
    width: 540px;
  }

  .validation-wrapper .description p {
    width: 530px;
  }

  .validation-wrapper .data-validation p {
    width: 540px;
  }

  .validation-wrapper .data-validation .input-group {
    width: 515px;
  }

  .validation-wrapper .data-validation .input-group img {
    position: absolute;
    bottom: 18px;
    right: 39px;
  }

  .validation-wrapper .data-validation .country-input {
    width: 515px;
  }

  .validation-wrapper .data-validation .resize {
    width: 354px;
    max-height: 25px;
    display: flex;
    flex-direction: column;
  }

  .validation-wrapper .data-validation .resize-width,
  .validation-wrapper .data-validation .resize-height {
    margin-left: 39px;
  }

  .validation-wrapper .data-validation .resize-height {
    margin-left: 41px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 256.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 344px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 238px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 320px;
  }

  .validation-wrapper .data-validation .preview-text {
    margin-top: 189px;
  }

  .validation-wrapper .data-validation .png-svg-btn button {
    margin-right: 10px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 18px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 21px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 419.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 485px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 158px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 24px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    left: 413px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    left: 461px;
  }

  .validation-wrapper .data-validation .validation-out-with-img {
    width: 511px;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .prettyprint {
    width: 513px;
    overflow: auto;
    height: 266px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar {
    height: 10px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 110px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-thumb {
    background-color: #dfeeff;
  }

  .validation-wrapper
    .data-validation
    .prettyprint::-webkit-scrollbar-thumb:hover {
    background-color: #7db7fa;
  }

  .prettyprint span {
    word-wrap: unset !important;
    white-space: unset !important;
  }

  .validation-wrapper .data-validation .validation-input {
    width: 513px;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin-left: 43px;
  }
}

@media (max-width: 600px) {
  .content-wrapper .content {
    width: 377px;
  }

  .validation-wrapper .description {
    width: 447px;
  }

  .validation-wrapper .description p {
    width: 452px;
  }

  .validation-wrapper .data-validation p {
    width: 427px;
  }

  .validation-wrapper .data-validation .input-group {
    width: 480px;
  }

  .validation-wrapper .data-validation .input-group img {
    position: absolute;
    bottom: 18px;
    right: 39px;
  }

  .validation-wrapper .data-validation .country-input {
    width: 480px;
  }

  .validation-wrapper .data-validation .resize {
    width: 354px;
    max-height: 25px;
    display: flex;
    flex-direction: column;
  }

  .validation-wrapper .data-validation .resize-width,
  .validation-wrapper .data-validation .resize-height {
    margin-left: 39px;
  }

  .validation-wrapper .data-validation .resize-height {
    margin-left: 41px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 256.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 344px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 238px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 320px;
  }

  .validation-wrapper .data-validation .preview-text {
    margin-top: 189px;
  }

  .validation-wrapper .data-validation .png-svg-btn button {
    margin-right: 10px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 18px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 21px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 419.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 485px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 158px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 24px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    left: 413px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    left: 461px;
  }

  .validation-wrapper .data-validation .validation-out-with-img {
    width: 478px;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .prettyprint {
    width: 513px;
    overflow: auto;
    height: 266px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar {
    height: 10px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 110px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-thumb {
    background-color: #dfeeff;
  }

  .validation-wrapper
    .data-validation
    .prettyprint::-webkit-scrollbar-thumb:hover {
    background-color: #7db7fa;
  }

  .prettyprint span {
    word-wrap: unset !important;
    white-space: unset !important;
  }

  .validation-wrapper .data-validation .validation-input {
    width: 513px;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin-left: 43px;
  }
}

@media (max-width: 510px) {
  .content-wrapper .header .navbar {
    margin-left: 21px;
  }

  .content-wrapper .header .nav-link {
    margin-right: 13px;
  }

  .content-wrapper .content {
    width: 371.39px;
  }

  .content-wrapper .content h1 {
    margin-left: 4%;
    width: 352px;
  }

  .content-wrapper .content p {
    margin-left: 4%;
    width: 340px;
  }

  .content-wrapper .content::before {
    height: 159px;
    top: 9px;
  }

  .validation-wrapper .description {
    z-index: 99;
    width: 392px;
  }

  .validation-wrapper .description h1 {
    padding-left: 1%;
  }

  .validation-wrapper .description p {
    width: 362px;
  }

  .validation-wrapper .data-validation {
    margin-left: 3.5%;
    width: 50%;
    z-index: 99;
  }

  .validation-wrapper .data-validation h1 {
    width: 354px;
  }

  .validation-wrapper .data-validation p {
    width: 353.73px;
  }

  .validation-wrapper .data-validation .input-group {
    width: 347.14px;
  }

  .validation-wrapper .data-validation .country-input {
    width: 345px;
  }

  .validation-wrapper .data-validation .validation-input {
    width: 344px;
  }

  .validation-wrapper .data-validation .resize {
    width: 354px;
    max-height: 25px;
    display: flex;
    flex-direction: column;
  }

  .validation-wrapper .data-validation .resize-height {
    margin-left: 44px;
  }

  .validation-wrapper .data-validation .validation-output {
    width: 256.85px;
    padding-left: 2px;
    overflow-x: auto;
  }

  .validation-wrapper .data-validation .validation-output p {
    width: 0;
    display: flex;
  }

  .validation-wrapper .data-validation .validation-out-with-img {
    width: 347px;
  }

  .validation-wrapper .data-validation .validation-output::-webkit-scrollbar {
    display: none;
  }

  .validation-wrapper .data-validation .validation-output-hint {
    width: 344px;
  }

  .validation-wrapper .validation-output-hint .iso-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 238px;
  }

  .validation-wrapper .validation-output-hint .size-mark {
    position: absolute;
    border-left: 1px solid hsl(212deg 88% 19%);
    width: 1px;
    height: 9px;
    bottom: 29px;
    left: 320px;
  }

  .validation-wrapper .data-validation .preview-text {
    margin-top: 189px;
  }

  .validation-wrapper .data-validation .png-svg-btn button {
    margin-right: 10px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(2) {
    margin-left: 18px;
  }

  .validation-wrapper .data-validation .validation-output-hint p:nth-child(3) {
    margin-left: 21px;
  }

  .validation-wrapper .data-validation .prettyprint {
    width: 347px;
    padding: 10px 10px;
    font-size: 18px;
    overflow: auto;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar {
    height: 10px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 110px;
  }

  .validation-wrapper .data-validation .prettyprint::-webkit-scrollbar-thumb {
    background-color: #dfeeff;
  }

  .validation-wrapper
    .data-validation
    .prettyprint::-webkit-scrollbar-thumb:hover {
    background-color: #7db7fa;
  }

  .prettyprint span {
    word-wrap: unset !important;
    white-space: unset !important;
  }

  .validation-wrapper .data-validation:nth-child(3) {
    margin-left: 3.5%;
  }

  .validation-wrapper .data-validation:nth-child(4) h1 {
    margin-left: -4.5%;
  }

  .footer {
    padding: 39px 15px;
    justify-content: flex-start;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footer img.footer-logo {
    width: 240px;
    height: 32px;
  }

  .footer .footer-links-wrapper {
    margin-top: 12px;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin: 0;
  }

  .footer .footer-links-wrapper .footer-copywrite {
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
  }

  .footer .links-wrapper .footer-link:not(.footer-link:last-of-type) {
    margin-right: 4px;
  }
}
