* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Rubik';
}


.documentation-section {
  height: 354px;
}

.documentation-section .properties {
  padding: 82px 185px;
}

.documentation-section .properties h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #062E5D;
  margin-bottom: 42px;
}

.documentation-section .properties .properties-items {
  display: flex;
}

.documentation-section .properties .properties-items .properties-item {
  display: flex;
  min-height: 79px;
}

.documentation-section .properties .properties-items .properties-item .properties-icon {
  background-color: #DFEEFF;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(2, 79, 255, 0.15);
  border-radius: 2px;
}

.documentation-section .properties .properties-items .properties-item .properties-icon .properties-icon-left-img{
  display: flex;
  margin: auto;
  padding: 17px 18px;
}

.documentation-section .properties .properties-items .properties-item .properties-icon .properties-icon-right-img {
  display: flex;
  margin: auto;
  padding: 17px 18px;
}

.documentation-section .properties .properties-items .properties-item .properties-text {
  margin-left: 20px;
}

.documentation-section .properties .properties-items .properties-item .properties-text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-left: 0;
}

.documentation-section .properties .properties-items .properties-item .properties-text p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color:#5D6D7E;
  margin-right: 10px;
  margin-top: 8px;
}

.documentation-wrapper {
  padding: 75px 181px;
  background: linear-gradient(180deg, #002046 0%, #003677 100%);
  color: #FFF;
}

.documentation-wrapper .documentation h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 64px;
}

.documentation-wrapper .documentation .documentation-header {
  margin-bottom: 60px;
}

.documentation-wrapper .documentation .documentation-header h5 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 18px;
}

.documentation-wrapper .documentation .documentation-header p {
  font-size: 18px;
  line-height: 24px;
}

.documentation-wrapper .documentation .documentation-item {
  margin-bottom: 59px;
}

.documentation-wrapper .documentation .documentation-item h4 {
  font-family: 'Rubik'; 
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.documentation-wrapper .documentation .documentation-item p {
  font-family: 'Rubik';
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  margin-top: 31px;
}

.documentation-wrapper .documentation .documentation-item .code-block {
  font-family: 'Roboto';
  width: 37%;
  background-color: #00152F;
  padding: 10px 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  border-radius: 4px;
  margin-bottom: 60px;
}

.documentation-wrapper .params .param-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 22px;
}

.documentation-wrapper .params .param-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.documentation-wrapper .params .param-row .param-name {
  width: 25%;
  font-family: 'Roboto';
}

 .colored-code {
  color: #7EB818;
}

.documentation-wrapper .params .param-row .param-type {
  width: 13%;
  font-family: 'Roboto';
}

.documentation-wrapper .params .param-row .param-desc {
  width: 70%;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.documentation-wrapper .params .param-title-json {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-top: 77px;
  margin-bottom: 35px;
}

.documentation-wrapper .status-params .param-title {
  font-family:'Roboto';
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 34px;
  margin-top: 70px;
}

.documentation-wrapper .status-params .param-sub-title {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.documentation-wrapper .status-params .param-row {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.documentation-wrapper .status-params .param-name {
  padding: 4px 8px;
  margin-right: 50px;
  border-radius: 4px;
}

 .status-params .success {
  background-color:  #82BE18;
  font-family: 'Roboto';

}

.status-params .failed {
  background-color: #F48032;
  font-family: 'Roboto';

}

.documentation-wrapper .status-params .param-row .param-type {
  width: 8%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

 .documentation-wrapper .status-params .param-row .param-desc {
  width: 70%;
  font-family: 'Roboto';
  margin-left: 46px;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #002046;
  color: #FFF;
  padding: 56px 74px;
  font-family: 'Rubik';
}

.footer .footer-right-side {
  display: flex;
  flex-direction: column;
}

.footer .footer-right-side .links-wrapper {
  margin-bottom: 31px;
}

.footer .footer-right-side .links-wrapper .footer-link:not(.footer-link:last-of-type) {
  margin-right: 10px;
  cursor: pointer;
}

.footer .footer-right-side .footer-copywrite {
  text-align: right;
}


@media (max-width:700px) {
  
  .documentation-wrapper {
    padding: 82px 15px !important;
    font-size: 15px;
  }

  .documentation-section .properties {
    padding: 48px 20px !important
  } 

  .documentation-section .properties .properties-items {
    display: flex;
    flex-direction: column;
  }

  .documentation-wrapper .params .param-row .param-name {
    width: 37% !important;
    font-size: 15px;
  }

  .documentation-wrapper .documentation .documentation-item .code-block {
    width: 92%;
  }

  .documentation-wrapper .params .param-row .param-desc {
    margin-left: 11px;
    font-size: 15px;
  }

  .documentation-wrapper .status-params .param-row .param-desc {
    margin: 11px;
  }

   p.param-type {
    margin-left: 13px;
  }

  .documentation-wrapper .status-params .param-row .param-type {
    width: 39%;
  }

  .footer {
    padding: 39px 15px !important;
    justify-content: flex-start;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-right-side{
    margin-top: 7px;
  }

  .footer .footer-right-side .links-wrapper {
    margin: 0 !important;
  }

  .footer .footer-right-side .footer-copywrite {
    text-align: left !important;
    margin-top: 30px;
    margin-left: 0 !important;
  }
}

@media (max-width:1220px) {
  .documentation-wrapper {
    padding: 75px 50px ;
  }

  .documentation-section .properties {
    padding: 82px 50px ;
 
  } 

  .documentation-section .properties .properties-items .properties-item .properties-icon .properties-icon-left-img {
    width: 61px;
    padding: 25px 18px;
  }

  .documentation-section .properties .properties-items .properties-item .properties-icon .properties-icon-right-img {
    width: 61px;
    padding: 25px 18px;
  }

  .documentation-wrapper .documentation .documentation-item .code-block {
    width: 92%;
  }
  
  .documentation-wrapper .params .param-row {
    font-size: 14px;
  }

  section.status-params {
    font-size: 14px;
  }

  .footer {
    height: auto;
  }

  .footer .footer-right-side .footer-copywrite {
    margin-left: 40px;
    margin-bottom: 26px;
    text-align: right;
  }

}
