* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
}

html {
  scroll-behavior: smooth;
}

.main-wrapper {
  background: url(../assets/img.jfif) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 60px;
  height: 750px;
}

.main-wrapper .header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 52px;
}

.main-wrapper .header .backdrop {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.main-wrapper .header .burger-btn {
  display: none;
  position: relative;
  color: #fff;
  background: none;
  border: 0;
  z-index: 1000;
  cursor: pointer;
}

.main-wrapper .header .fa-bars:before {
  content: "\f0c9";
  font-size: 21px;
  width: 16px;
}

.main-wrapper .header .mobile-navbar {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 999;
  background-color: #00152f;
  border-radius: 7px;
}

.main-wrapper .header .nav-link {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

.main-wrapper .header .navbar {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.main-wrapper .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 194px;
  margin-top: 92px;
}

.main-wrapper .content {
  width: 47%;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.main-wrapper .content h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

.main-wrapper .content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #deedff;
  margin-top: 20px;
}

.main-wrapper .validation-wrapper {
  width: 50%;
  z-index: 99;
}

.main-wrapper .validation-wrapper .validation-input {
  display: flex;
  font-size: 18px;
  line-height: 36px;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(2, 79, 255, 0.3);
  border-radius: 4px 0 0px 4px;
  margin: 12px 0px;
  border: 0;
}

.main-wrapper .validation-wrapper .input-group-with-submit {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-wrapper .input-group-with-submit .validation-input {
  width: 75%;
  font-family: "Rubik";
}

.main-wrapper .validation-wrapper select.validation-input {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 36px;
  border: 2px solid #82be18;
  width: 100%;
  background-image: url(../assets/ic-arrow-tick.png);
  background-position: calc(100% - 20px) calc(0.9em + 5px), 100% 0;
  background-size: 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  text-indent: 1px;
}

.main-wrapper .validation-wrapper .submit-btn {
  width: 25%;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Rubik";
  line-height: 36px;
  background: #82be18;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  border: 0;
  color: #fff;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

.main-wrapper .validation-wrapper .submit-btn:hover {
  background: #73a914;
}

.main-wrapper .validation-wrapper .head-validation-box {
  display: flex;
  margin-top: 27px;
}

.main-wrapper .main-validation-button {
  width: 50%;
  background: #00152f;
  border-radius: 4px 0px;
}

.main-wrapper .validation-wrapper .formatted-btn,
.main-wrapper .validation-wrapper .json-btn {
  padding: 0px 20px;
  font-family: "Rubik";
  color: white;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
  text-align: left;
  position: relative;
  height: 36px;
  background: #00152f;
  border: 0;
  cursor: pointer;
}

.main-wrapper .validation-wrapper .json-btn {
  background-color: rgb(0, 44, 96);
}

.main-wrapper .validation-wrapper .formatted-results {
  display: flex;
  max-height: 200px;
  background-color: #00152f;
  padding: 28px 20px;
}

.main-wrapper .formatted-results .formatted-result:nth-child(1) {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 71px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main-wrapper .formatted-results .formatted-result:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main-wrapper .validation-wrapper .validation-text {
  display: flex;
  margin-bottom: 24px;
}

.main-wrapper .validation-wrapper .formatted-output {
  width: 33%;
  height: 25px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9bafc6;
}

.main-wrapper .validation-wrapper .valid-display {
  position: relative;
  max-width: 40%;
  height: 18px;
  padding-bottom: 3px;
  font-size: 16px;
  font-family: "Rubik";
  line-height: 17px;
  color: #9bafc6;
  background-color: unset;
  border: 0;
  border-bottom: 1px solid #002c60;
}

.main-wrapper .formatted-results span.check-mark {
  position: relative;
  right: 12px;
  width: 17px;
  height: 17px;
  background: #82be18;
  border-radius: 20px;
}

.main-wrapper .formatted-results .false-mark {
  position: relative;
  right: 12px;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  display: none;
  background: #ff5722;
  border-radius: 50%;
}

.main-wrapper .results .fa,
.fas {
  font-weight: 900;
  color: white;
  font-size: 8px;
}

.main-wrapper .validation-wrapper .json-results {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 219px;
  background-color: #00152f;
  padding: 28px 20px;
  color: white;
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-wrapper .json-results pre.prettyprint {
  padding: 2px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.main-wrapper .json-results::-webkit-scrollbar {
  width: 6px;
}

.main-wrapper .json-results::-webkit-scrollbar-track {
  background: #011a37;
  border-radius: 10px;
}

.main-wrapper .json-results::-webkit-scrollbar-thumb {
  background: #043459;
  border-radius: 10px;
}

.main-wrapper .phone-shape {
  z-index: 1;
  position: absolute;
  width: 302.39px;
  height: 545px;
  right: 46.6px;
  top: 106px;
  background: linear-gradient(
    194.87deg,
    rgba(0, 103, 255, 0.38) 0%,
    rgba(24, 160, 251, 0.152) 95.85%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 12px;
}

.main-wrapper .phone-shape-rectangle {
  position: absolute;
  width: 72.11px;
  height: 12.79px;
  right: 116.24px;
  top: 21.61px;
  background: #043459;
  opacity: 0.9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.main-wrapper .phone-shape-eclipse {
  position: absolute;
  width: 12.79px;
  height: 12.79px;
  right: 101px;
  top: 21.61px;
  background: #043459;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.properties-section {
  height: 354px;
}

.properties-section .properties {
  padding: 82px 185px;
}

.properties-section .properties h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #062e5d;
  margin-bottom: 42px;
}

.properties-section .properties-items {
  display: flex;
}

.properties-section .properties-items .properties-item {
  display: flex;
  min-height: 79px;
}

.properties-section .properties-item .properties-icon {
  background-color: #dfeeff;
  margin: auto;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(2, 79, 255, 0.15);
  border-radius: 2px;
}

.properties-section .properties-icon .properties-icon-img {
  display: flex;
  margin: auto;
  padding: 17px 18px;
}

.properties-section .properties-item .properties-text {
  margin-left: 20px;
}

.properties-section .properties-item .properties-text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-left: 0;
}

.properties-section .properties-item .properties-text p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #5d6d7e;
  margin-right: 10px;
  margin-top: 8px;
}

.documentation-wrapper {
  padding: 75px 181px;
  background: linear-gradient(180deg, #002046 0%, #003677 100%);
  color: #fff;
}

.documentation-wrapper .documentation h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 64px;
}

.documentation-wrapper .documentation-header {
  margin-bottom: 60px;
}

.documentation-wrapper .documentation-header h5 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 18px;
}

.documentation-wrapper .documentation-header p {
  font-size: 18px;
  line-height: 24px;
}

.documentation-wrapper .documentation-item {
  margin-bottom: 59px;
}

.documentation-wrapper .documentation-item h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.documentation-wrapper .documentation-item p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  margin-top: 31px;
}

.documentation-wrapper .documentation-item .code-block {
  font-family: "Roboto";
  width: 37%;
  background-color: #00152f;
  padding: 10px 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  border-radius: 4px;
  margin-bottom: 60px;
}

.documentation-wrapper .params h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 22px;
}

.documentation-wrapper .param-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.documentation-wrapper .params .param-name {
  width: 25%;
  font-family: "Roboto";
}

.documentation-wrapper span.colored-code {
  color: #7eb818;
}

.documentation-wrapper .params .param-type {
  width: 13%;
  font-family: "Roboto";
}

.documentation-wrapper .params .param-desc {
  width: 70%;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.documentation-wrapper .params .param-title-json {
  font-weight: 500;
  font-size: 28px;
  font-family: "Roboto";
  line-height: 33px;
  margin-top: 77px;
  margin-bottom: 35px;
}

.documentation-wrapper .status-params {
  font-family: "Roboto";
}

.documentation-wrapper .status-params .param-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 34px;
  margin-top: 70px;
}

.documentation-wrapper .status-params .param-sub-title {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Rubik";
  line-height: 21px;
}

.documentation-wrapper .status-params .param-row {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.documentation-wrapper .status-params .param-name {
  padding: 4px 14px;
  margin-right: 50px;
  border-radius: 4px;
}

.documentation-wrapper .status-params .success {
  background-color: #82be18;
}

.documentation-wrapper .status-params .warning {
  background-color: #f48032;
}

.documentation-wrapper .status-params .fail {
  background-color: #ff5722;
}

.documentation-wrapper .status-params .param-type {
  width: 8%;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.documentation-wrapper .status-params .param-desc {
  width: 70%;
  font-weight: 400;
  margin-left: 46px;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #002046;
  color: #fff;
  padding: 56px 74px;
  font-family: "Roboto";
}

.footer .footer-links-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}

.footer .footer-links-wrapper .links-wrapper {
  margin-bottom: 31px;
}

.footer .links-wrapper .footer-link:not(.footer-link:last-of-type) {
  margin-right: 10px;
  cursor: pointer;
}

.footer .footer-links-wrapper .footer-copywrite {
  text-align: right;
}

@media (max-width: 1488px) {
  .main-wrapper .main {
    padding: 0px 50px;
  }

  .main-wrapper .validation-wrapper .formatted-output {
    width: 45%;
  }

  .documentation-wrapper .documentation-item .code-block {
    width: 39%;
  }
}

@media (max-width: 1220px) {
  .properties-section .properties {
    padding: 82px 50px;
  }

  .properties-section .properties-icon .properties-icon-img {
    width: 61px;
    padding: 25px 18px;
  }

  .documentation-wrapper {
    padding: 75px 50px;
  }

  .documentation-wrapper .documentation-item .code-block {
    width: 40%;
  }

  .documentation-wrapper .params .param-row {
    font-size: 14px;
  }

  section.status-params {
    font-size: 14px;
  }

  .footer {
    height: auto;
  }

  .footer .footer-links-wrapper .footer-copywrite {
    margin-left: 40px;
    margin-bottom: 26px;
    text-align: right;
  }
}

@media (max-width: 1177px) {
  .main-wrapper .main {
    padding: 0 50px;
  }

  .main-wrapper .header {
    padding: 40px 25px;
    font-size: 15px;
  }

  .main-wrapper .validation-wrapper .formatted-results {
    padding: 20px 9px;
  }

  .documentation-wrapper .documentation-item .code-block {
    width: 50%;
  }
}

@media (max-width: 892px) {
  .main-wrapper .header {
    padding: 40px 25px;
  }

  .main-wrapper .header .burger-btn {
    display: block;
  }

  .main-wrapper .header .navbar {
    display: none;
  }

  .main-wrapper .header a {
    margin: 0;
    padding: 20px;
    transition: all 0.1s ease-in-out;
  }

  .main-wrapper .header .nav-link {
    margin-left: 0;
  }

  .main-wrapper .header .nav-link:first-child {
    border-radius: 7px 7px 0 0;
  }

  .main-wrapper .header .nav-link:last-child {
    border-radius: 0 0 7px 7px;
  }

  .main-wrapper .header .nav-link:hover {
    background-color: #002c5f;
  }

  .main-wrapper {
    height: auto;
  }

  .main-wrapper .content h1 {
    max-width: 95%;
  }

  .main-wrapper .main {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 0;
    align-items: unset;
  }

  .main-wrapper .formatted-results .formatted-result:nth-child(1) {
    margin-right: 19px;
    margin-bottom: 15px;
  }

  .main-wrapper .formatted-results .formatted-result:nth-child(2) {
    margin-right: 0;
    max-width: 98%;
  }

  .main-wrapper .validation-wrapper .formatted-output {
    width: 26%;
    margin-right: 0;
  }

  .main-wrapper .validation-wrapper .formatted-results {
    padding: 16px 18px;
    flex-direction: column;
    max-height: 259px;
  }

  .main-wrapper .validation-wrapper .json-results {
    font-size: 13px;
    display: none;
    flex-wrap: nowrap;
    padding: 8px 5px;
    height: 287px;
  }

  .main-wrapper .validation-wrapper .json-btn {
    font-size: 14px;
  }

  .main-wrapper .validation-wrapper .valid-display {
    padding-bottom: 2px;
  }

  .main-wrapper .main .content {
    z-index: 9;
    width: unset;
    padding: 20px;
  }

  .main-wrapper .main .validation-wrapper {
    width: unset;
    padding: 20px;
  }

  .properties-section .properties {
    padding: 48px 15px;
  }

  .properties-section .properties .properties-items {
    display: flex;
    flex-direction: column;
  }

  .properties-section .properties-items .properties-item {
    margin-bottom: 10px;
  }

  .documentation-wrapper {
    padding: 82px 15px;
    font-size: 15px;
  }

  .documentation-wrapper .params .param-name {
    width: 37%;
    font-size: 15px;
  }

  .documentation-wrapper .documentation-item .code-block {
    width: 92%;
  }

  .documentation-wrapper .params .param-desc {
    margin-left: 11px;
    font-size: 15px;
  }

  .documentation-wrapper .params .param-type {
    margin-left: 13px;
  }

  .documentation-wrapper .status-params .param-desc {
    margin: 11px;
  }

  .documentation-wrapper .status-params .param-type {
    width: 39%;
  }

  .footer {
    padding: 39px 15px;
    height: auto;
    display: flex;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin: 0;
  }

  .footer .footer-links-wrapper .footer-copywrite {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .main-wrapper header {
    padding: 40px 25px;
  }

  .main-wrapper .header a {
    margin: 0;
    padding: 20px;
    transition: all 0.1s ease-in-out;
  }

  .main-wrapper .header .nav-link:first-child {
    border-radius: 7px 7px 0 0;
  }

  .main-wrapper .header .nav-link:last-child {
    border-radius: 0 0 7px 7px;
  }

  .main-wrapper .header .nav-link:hover {
    background-color: #002c5f;
  }

  .main-wrapper .header .burger-btn {
    display: block;
  }

  .main-wrapper .header .navbar {
    display: none;
  }

  .main-wrapper {
    height: auto;
  }

  .main-wrapper .main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 0;
    align-items: unset;
  }

  .main-wrapper .formatted-results .formatted-result:nth-child(2) {
    margin-right: 0;
    max-width: 95%;
  }

  .main-wrapper .main .content {
    font-size: 17px;
    line-height: 37px;
  }

  .main-wrapper .content h1 {
    max-width: 100%;
  }

  .main-wrapper .validation-wrapper .formatted-btn {
    font-size: 14px;
  }

  .main-wrapper .validation-wrapper .formatted-results {
    padding: 20px 18px;
    flex-direction: column;
    max-height: 259px;
  }

  .main-wrapper .validation-wrapper .formatted-output {
    width: 42%;
    margin-right: 0;
  }

  .main-wrapper .validation-wrapper .json-results {
    font-size: 13px;
    display: none;
    flex-wrap: nowrap;
    padding: 8px 5px;
    height: 287px;
  }

  .main-wrapper .validation-wrapper .json-btn {
    font-size: 14px;
  }

  .main-wrapper .validation-wrapper .valid-display {
    padding-bottom: 2px;
  }

  .main-wrapper .main .content {
    z-index: 9;
    width: unset;
    padding: 20px;
  }

  .main-wrapper .main .validation-wrapper {
    width: unset;
    padding: 20px;
  }

  .documentation-wrapper {
    padding: 82px 15px;
    font-size: 15px;
  }

  .properties-section .properties {
    padding: 48px 20px;
  }

  .properties-section .properties .properties-items {
    display: flex;
    flex-direction: column;
  }

  .documentation-wrapper .params .param-name {
    width: 37%;
    font-size: 15px;
  }

  .documentation-wrapper .documentation-item .code-block {
    width: 95%;
  }

  .documentation-wrapper .params .param-desc {
    margin-left: 11px;
    font-size: 15px;
  }

  .documentation-wrapper .status-params .param-desc {
    margin: 11px;
  }

  p.param-type {
    margin-left: 13px;
  }

  .documentation-wrapper .status-params .param-type {
    width: 39%;
  }

  .footer {
    padding: 39px 15px;
    justify-content: flex-start;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-links-wrapper {
    margin-top: 12px;
  }

  .footer .footer-links-wrapper .links-wrapper {
    margin: 0;
  }

  .footer .footer-links-wrapper .footer-copywrite {
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
  }

  .footer .links-wrapper .footer-link:not(.footer-link:last-of-type) {
    margin-right: 4px;
  }
}
