* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Rubik';
}

.main-wrapper {
  background: url(../assets/img.jfif) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 60px;
  height: 750px;
}

.main-wrapper .header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 52px;
}

.main-wrapper .header a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

.main-wrapper .header .navbar {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.main-wrapper .header .backdrop {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.main-wrapper .header .burger-btn {
  display: none;
  position: relative;
  color: #FFF;
  background: none;
  border: 0;
  z-index: 1000;
  cursor: pointer;
}

.main-wrapper .header .fa-bars:before {
  content: "\f0c9";
  font-size: 21px;
  width: 16px;
}

.main-wrapper .header .mobile-navbar {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 999;
  background-color: #00152f;
  border-radius: 7px;
}

.main-wrapper .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 194px;
  margin-top: 92px;
}

.phone-shape {
  z-index: 1;
  position: absolute;
  width: 302.39px;
  height: 545px;
  right: 46.6px;
  top: 106px;
  background: linear-gradient(194.87deg, rgba(0, 103, 255, 0.38) 0%, rgba(24, 160, 251, 0.152) 95.85%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 12px;
}

.phone-shape-rectangle {
  position: absolute;
  width: 72.11px;
  height: 12.79px;
  right: 116.24px;
  top: 21.61px;
  background: #043459;
  opacity: 0.9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

pre.prettyprint {
  padding: 2px;
  border:none !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.phone-shape-eclipse {
  position: absolute;
  width: 12.79px;
  height: 12.79px;
  right: 101px;
  top: 21.61px;
  background: #043459;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-wrapper .main .content {
  width: 47%;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.main-wrapper .main .content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #deedff;
  margin-top: 20px;
}

.main-wrapper .main .right-column {
  width: 50%;
  z-index: 99;
}

.main-wrapper .main .right-column .input-group-with-submit {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-wrapper .main .right-column input {
  width: 75%;
}

.main-wrapper .main .right-column .validate-input {
  display: flex;
  font-size: 18px;
  line-height: 36px;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(2, 79, 255, 0.3);
  border-radius: 4px 0 0px 4px;
  margin: 12px 0px;
  border: 0;
}

.main-wrapper .main .right-column select.validate-input {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  border: 2px solid #82BE18;
  width: 100%;
  background-image:url(../assets/ic-arrow-tick.png);
  background-position: calc(100% - 20px) calc(0.9em + 5px), 100% 0;
  background-size: 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  text-indent: 1px;
}

.main-wrapper .main .right-column .submit-btn {
  width: 25%;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  background: #82BE18;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  border: 0;
  color: #fff;
}

.main-wrapper .main .right-column .submit-btn:hover {
  background: #73A914;
}

.main-wrapper .main .right-column .results .head-validation-box {
  display: flex;
  margin-top: 27px;
}

.main-wrapper .main .right-column .results .head-validation-box .formatted-btn {
  padding: 0px 20px;
  color: white;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
  text-align: left;
  position: relative;
  height: 36px;
  background: #00152f;
  border: 0;
  cursor: pointer;
}

.main-wrapper .main .right-column .results .head-validation-box .json-btn {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 20px;
  color: white;
  text-align: left;
  position: relative;
  height: 36px;
  background-color: rgb(0, 44, 96);
  border: 0;
  cursor: pointer;
}

.main-wrapper .main .right-column .results .formatted-results {
  display: flex;
  max-height: 200px;
  background-color: #00152f;
  padding: 20px;
}

.main-wrapper .main .right-column .results .formatted-result-left-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 77px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.formatted-result-right-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main-wrapper .main .right-column .results .formatted-results span.check-mark {
  position: relative;
  right: 12px;
  width: 17px;
  height: 17px;
  background: #82be18;
  border-radius: 20px;
}

.main-wrapper .main .right-column .results .formatted-results .false-mark {
  position: relative;
  right: 12px;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ff5722;
  border-radius: 50%;
}

.main-wrapper .main .right-column .results .fa,.fas {
  font-weight: 900;
  color: white;
  font-size: 8px;
}

.main-validation-button {
  width: 50%;
  background: #00152f;
  border-radius: 4px 0px;
}

.main-wrapper .main .right-column .results .formatted-results .formatted-output {
  width: 33%;
  height: 25px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9bafc6;
}

.main-wrapper .main .right-column .results .formatted-results .valid-display {
  position: relative;
  max-width: 40%;
  height: 18px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 17px;
  color: #9bafc6;
  background-color: unset;
  border: 0;
  border-bottom: 1px solid #002C60;
}

.main-wrapper .main .right-column .results .formatted-results .validation-text {
  display: flex;
  margin-bottom: 24px;
}

.main-wrapper .main .right-column .json-results {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 219px;
  background-color: #00152f;
  padding: 28px 20px;
  color: white;
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-wrapper .main .right-column .json-results::-webkit-scrollbar {
  width: 6px;
}

.main-wrapper .main .right-column .json-results::-webkit-scrollbar-track {
  background : #011A37;
  border-radius: 10px;
}

.main-wrapper .main .right-column .json-results::-webkit-scrollbar-thumb {
  background:#043459;
  border-radius: 10px;
}

@media (max-width:1177px) {
  .main-wrapper .main {
    padding: 0;
  }

  .header {
    padding: 40px 25px;
    font-size: 15px;
  }
}

@media (max-width : 892px) {
  .header {
    padding: 40px 25px;
    font-size: 13px;
  }

  .main-wrapper .main {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: unset;
    padding-bottom: 100px;
  }

  .main-wrapper .main .content {
    z-index : 99;
    width: unset;
  }

  .main-wrapper .main .right-column {
    width: unset;
  }

  .main-wrapper .main .content {
    font-size: 33px !important;
    line-height: 37px;
  }

  .main-wrapper .main .content p {
    font-size: 17px;
    line-height: 37px;
    align-items: flex-start;
  }

  .main-wrapper .main .right-column .results .head-validation-box .formatted-btn {
    font-size: 14px;
  }

  .main-wrapper .main .right-column .results .head-validation-box .json-btn{
    font-size: 14px;
  }

  .main-wrapper .main .right-column .results .formatted-results {
    padding: 20px;
    flex-direction: column;
    max-height: 262px;
  }

  .main-wrapper .main .right-column .results .formatted-result-left-column {
    overflow: unset;
  }

  .main-wrapper .main .right-column .json-results {
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 5px;
    height: 287px;
  }

  .benfits .benfits-items .benfits-item .benfit-icon i {
    font-size: 27px !important
  }
}

@media (max-width: 1488px) {
  .main-wrapper .main {
    padding: 0px 50px;
  }

  .formatted-result-right-column {
    margin-right: 77px;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 40px 25px;
  }

  .header a {
    margin: 0;
    padding: 20px;
    transition: all 0.1s ease-in-out;
  }

  .header a:first-child {
    border-radius: 7px 7px 0 0;
  }

  .header a:last-child {
    border-radius: 0 0 7px 7px;
  }

  .header a:hover {
    background-color: #002c5f;
  }

  .header .burger-btn {
    display: block !important
  }

  .header .navbar {
  display: none !important
  }

  .main-wrapper {
    height: auto;
  }

  .main-wrapper .main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 0;
    align-items: unset;
  }

  .formatted-result-right-column {
    margin-right: 77px;

  }

  .main-wrapper .main .content {
    font-size: 17px;
    line-height: 37px;
  }

  .main-wrapper .main .right-column .results .head-validation-box .formatted-btn {
    font-size: 14px;
  }

  .main-wrapper .main .right-column .results .formatted-results {
    padding: 12px 15px;
    flex-direction: column;
    max-height: 259px;
  }

  .main-wrapper .main .right-column .results .json-results {
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 5px;
    height: 287px;
  }

  .main-wrapper .main .right-column .results .head-validation-box .json-btn {
    font-size: 14px;
  }

  .main-wrapper .main .right-column .results .formatted-results .valid-display {
    padding-bottom: 4px;

  }

  .main-wrapper .main .content {
    z-index : 9;
    width: unset;
    padding: 20px;
  }

  .main-wrapper .main .right-column {
    width: unset;
    padding: 20px;
  }

  .benfits .benfits-items .benfits-item .benfit-icon i {
    display: none;
  }

  .status-params .param-row .param-name {
    margin-right: 10px;
  }
}
